* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container  */

.container {
  max-width: 1100px;

  margin: auto;
}
/* logo  */

.bd-logo {
  color: #121629;
  font-weight: 800;
  font-size: 20px;
}

li,
a {
  color: #121629;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

/* button  */
button {
  padding: 7px 30px;
  background-color: #a7a9be;
  border: none;
  border-radius: 4px;
}
button:hover {
  background-color: #004643;
  color: #fffffe;
}

/* nav bar  */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ul-list {
  display: flex;
  gap: 20px;
}

/* hero section  */
section {
  display: flex;
  margin-top: 80px;
}

.imag-section img {
  width: 300px;
}

/* .info-hero {
  margin-top: 90px;
} */

.hero-h1 {
  font-size: 80px;
}

.info-para {
  margin-top: 40px;
}

.vst {
  margin-top: 20px;
}
.text-align {
  text-align: center;
  margin-top: 120px;
}

/* division section  */

.cart {
  height: 320px;
  width: 230px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  padding: 20px;
  border-radius: 5px;
}
img {
  width: 100%;
  border-radius: 5px;
}
.cart-info {
  margin-top: 10px;
}
.btn-top {
  margin-top: 10px;
}

.card-allcontrol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 120px;
}

.fooetr-section {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  padding: 60px;
}

.socal-medaia {
  display: flex;
  gap: 30px;
}

input {
  padding: 4px;
}

/* media query  */

/* mobile first  */

@media only screen and (max-width: 688px) {
  nav,
  .ul-list {
    flex-direction: column;
    margin-top: 90px;
    margin: auto;
  }
  section {
    flex-direction: column;
  }
  .hero-h1 {
    font-size: 40px;
  }
  .info-para {
    margin-top: 30px;
  }
  .imag-section {
    margin-top: 40px;
    justify-content: center;
  }
  .card-allcontrol {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .fooetr-section,
  .socal-medaia {
    flex-direction: column;
    margin-top: 50px;
    padding: 30px;
  }
}
